body {
  font-family: system-ui;
  font-size: 1rem;
  line-height: 1.5;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.sheetsheet h6 {
    margin: 5px;
}

.nav form {
  width: max-content;
  display: inline-block;
}

.nav {
  padding: 5px;
  background-color: #eee;
  border: 1px solid black;
}

table,
th,
td {
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
}

code {
  display: block;
  border: 1px solid black;
  background-color: #eee;
}