body {
  font-family: system-ui;
  font-size: 1rem;
  line-height: 1.5;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.sheetsheet h6 {
    margin: 5px;
}

.nav form {
  width: max-content;
  display: inline-block;
}

.nav {
  padding: 5px;
  background-color: #eee;
  border: 1px solid black;
}

table,
th,
td {
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
}

pre code { 
  display: block;
  border: 1px solid black;
  overflow-y: scroll;
}

p code {
  font-family: 'Courier New', Courier, monospace;
  border: 1px dashed black;
}

li code {
  font-family: 'Courier New', Courier, monospace;
  border: 1px dashed black;
}

.main {
  max-width: min(120ch, 100% - 3rem);
  margin-inline: auto;
}